<!DOCTYPE html>

<head>
  <title><%= appName %></title>
</head>

<body style="background-color:#272727; margin-top: 10%;">
  <center style="margin: 10%;">
    <h1 style="color:#9CD9F0"><%= appName %></h1>
    <h1 style="color:#CDEE69;font-size:100px;"><%= errorStatus %></h1>
    <h2 style="color:#CDEE69"><%= errorMessage %></h2>
    <pre style="text-align: left; color:#FFFFFF"><%= errorDescription %></pre>
  </center>

  <body>

    </html>